:root {
  /* default box sizing */
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-size: 1.125em;
}

#main_heading {
  text-align: center;
}

.canvas_container {
  width: 720px;
  height: 720px;
  margin: auto;
  box-shadow: 0 0 7px 4px rgba(8, 136, 136, 0.4);
}
.pixel {
  display: inline-block;
  text-align: center;
  border: 1px solid black;
  vertical-align: top;
  transition: all 0.47s;
}
.row {
  line-height: 0;
}

.controls_container {
  background-color: rgba(11, 74, 182, 0.577);
  margin-top: 1em;
  padding: 0.5em 1em;
}

#reset_btn {
  border: 1px solid black;
  padding: 1.5em;
}

input[type="range"] {
  display: block;
  padding: 1em;
  writing-mode: horizontal-tb;
}
